@import 'commons';

.record {
    padding: 10px 0;
    border-bottom: 1px solid $theme-light-gray;

    &.headings {
        font-weight: bold;
        background-color: $theme-medium-gray;
        border: none;
    }
}
