<div class="weather-item">
    <div class="weather-header px-3 py-1 py-lg-2 d-flex align-items-center">
        <strong>
            {{ cityData.name }} - {{ cityData.sys.country }}
        </strong>
        <div class="d-lg-none d-flex flex-column ml-auto text-left weather-header-data">
            <div>
                <span class="mr-2">{{ cityData.main.temp | temperature : units : true }}</span>
                <small>{{ cityData.weather[0].main }}</small>
            </div>
            <p class="m-0">
                <span class="mr-1">{{ cityData.wind.speed | speed : units }}</span>
                <img class="d-inline-flex wind-direction"
                    [src]="basePath + 'assets/images/dark-gray-up-arrow.svg'" alt=""
                    [ngStyle]="{'transform': 'rotate(' + cityData.wind.deg + 'deg)'}">
            </p>
        </div>
    </div>
    <div class="weather-body d-none bg-white p-2" [ngClass]="{'d-lg-flex': active}">
        <div class="main-body-data mt-2">
            <p class="m-0 text-center d-flex flex-column">
                <span>{{ cityData.main.temp | temperature : units : true }}</span>
                <small>{{ cityData.weather[0].main }}</small>
            </p>
        </div>
        <div class="wind text-center mt-3">
            <strong>Wind: </strong>
            <span class="mr-1">{{ cityData.wind.speed | speed : units }}</span>
            <img class="d-inline-flex wind-direction"
                [src]="basePath + 'assets/images/dark-gray-up-arrow.svg'" alt=""
                [ngStyle]="{'transform': 'rotate(' + cityData.wind.deg + 'deg)'}">
        </div>
    </div>
</div>
