<nav class="navbar navbar-expand-lg bg-color-light-blue sticky-top">
    <app-sytem-toggler class="ml-auto"></app-sytem-toggler>
</nav>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 weather-list py-3">
                <app-weather-list></app-weather-list>
            </div>
            <div class="col-12 col-lg-9 pt-lg-3">
                <app-forecast></app-forecast>
            </div>
        </div>
    </div>

    <footer class="bg-color-dark-blue d-flex flex-column flex-sm-row justify-content-center align-items-center px-3">
        <div>
            <span>Powered by <a href="https://openweathermap.org/api">OpenWeatherMap</a></span>
        </div>
        <div class="social-links ml-sm-auto mt-2 mt-sm-0">
            <a *ngFor="let link of socialLinks"
                [href]="link.url"
                [target]="link.target">
                <img [src]="basePath+link.icon" [alt]="link.name">
            </a>
        </div>
    </footer>
</div>
