@import 'variables';

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.wind-direction {
    color: $gray-3-color;
}

.spinner,  {
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
