@import 'commons';

body {
	font-family: 'Roboto Condensed', sans-serif;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.wind-direction {
    width: 1rem;
}

.spinner,  {
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg-color-dark-blue {
	background-color: $theme-dark-blue;
}

.bg-color-light-blue {
	background-color: $theme-light-blue;
}

.bg-color-light-orange {
	background-color: $theme-light-orange;
}

.bg-color-dark-orange {
	background-color: $theme-dark-orange;
}

.bg-color-light-gray {
	background-color: $theme-light-gray;
}

.color-dark-blue {
    color: $theme-dark-blue;
}

.color-light-blue {
    color: $theme-light-blue;
}

.color-light-orange {
    color: $theme-light-orange;
}

.color-dark-orange {
    color: $theme-dark-orange;
}

.color-light-gray {
    color: $theme-light-gray;
}
